.heding img {
    height: 154px;
    width: 100%;
}

.heding {
    width: 189px;
    margin-left: 14px;
    overflow: hidden;
    padding: 10px;
    display: inline-grid;
    margin-bottom: 16px;
}

.siting p {
    width: 61px;
    float: left;
    margin-top: 11px;
}

.siting button {
    width: 78px;
    float: right;
    background: green;
    border-style: none;
    padding: 5px;
    color: #ddd;
}

.heding h1 {
    margin: 0px;
    border-top: 1px solid black;
}

.siting {
}