.lefSite {
  width: 500px;
  float: left;
  margin-top: 19px;
  margin-left: 56px;
}


.lefSite img {
  width: 200px;
}

.rightSite {
  width: 762px;
  float: right;
  margin-top: 7px;
}
.hidden {
  display: table;
}

.rightSite ul {
  list-style: none;
  float: right;
  margin: 0px;
}
.rightSite ul li a {
  text-decoration: none;
}
.rightSite ul li {
  float: left;
  margin: 16px;
  padding: 4px;
}